* {
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
    
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav a {
    padding: 15px;
    text-decoration: none;
    color: #727272;

}
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-size: cover;
    background-position: center;
    height: 670px;

}
.column {
    flex-direction: column;
}
.banner_headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
      
}

.banner_headline h1 {
    font-size: 70px;
    color: #FFF;
    text-shadow: 0px 1px 0px #555;
    max-width: 350px;
    margin: 0;
    padding: 0;
}
.banner_headline h2 {
    font-size: 20px;
    color: #FFF;
    text-shadow: 0px 1px 0px #555;
    max-width: 350px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.banner_options {
    display: flex;    
    height: 210px;
}
.banner1,
.banner2,
.banner3 {
    flex:1;
    color: #fff;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    
    background-color: #2b4c99;
}

.banner_title {     
    font-size: 22px;
}
.banner_desc {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    font-size: 12;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
}
.banner_desc1,
.banner_desc2,
.banner_desc3 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(82, 112, 243);
    padding-bottom: 15px;
}
.schedule {
    font-weight: bold;
}

#geral {
    display: flex;
    justify-content: center;

}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget {
    padding-left: 25px;
}
.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget-title-text {
    font-size: 20px;
    color: #000;
    font-weight: bold; 
}
.widget-title-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.widget-body1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    flex-wrap: wrap; 
}
.ret {
    margin: 5px;
    width: 150px;
    height: 150px;
    background-color: #39aae1;    
}
@media screen and (min-width:996px){
    .ret {
        flex: 1 0 33%;
    }
}
.contact {
    display: flex;
    align-items: center;
    flex: 1;
    border-top: 1px solid rgb(192, 192, 192);
    padding: 10px;
    margin-top: 2px;
}
.contact3 {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 10px;
    margin-top: 2px;
    
}
.contact div {
    padding-right: 5px;
}
article .news-data {
    display: flex;
}
article .post-at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .comments {
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-left: 2px;
}
article .news-thumbnail img {
    width: 100%;
    height: auto;
}
article .news-thumbnail {
    margin-top: 30px;
}
article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000;

}
article .news-resume {
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;

}
article a {
    text-decoration: none;
}
.flex {
    flex-wrap: wrap;
    display:flex;
}
article {
    flex: 1;
    margin-right: 20px;
    min-width: 300px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}
.footer-options {
    display: flex;
    flex: 1;
}
.footer-1, .footer-2, .footer-3 {
    flex: 1;
    color: white;
       
}
.footer-title {
    font-size: 22px;
}
.footer-desc {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-options a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px;
    
}
.footer-1 {
    background-color:#39aae1;
}
.footer-2 {
    background-color: #0079c7;
}
.footer-3 {
    background-color: #2b4c99;
}
.foot-area {
    background-color: #1e1e1e;
}
.flexColumn {
    flex-direction: column;
}
.foot-area {
    display: flex;   
}
.foot-area-item {
    
    flex:1;
}
footer .widget-title-text{
    color: #fff;
}
footer .widget-body1 {
    justify-content: flex-start;
    color: #5c5c5c;
}
.footer-copy {
    color: #5c5c5c;
    font-size: 12px;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    margin-top: 30px;
    line-height: 40px;
}
.adress {
    margin-top: 20px;
}
.phone {
    margin-top: 40px;
    margin-left: 20px;
}
span {
    color: #fff;
}
.icons {
    margin-top: 20px;
}
.parag {
    color: #fff;
    margin-bottom: 20px;

}
.parag span {
    color: #0079c7;
    font-weight: bold;
    line-height: 20px;
}
.widget-body2 a{
    text-decoration: none;
}
.widget-body3 div {
    color: #5c5c5c;
    margin-top: 20px;
}
.widget-body3 span {
    font-weight: bold;
    color: #0079c7;
}
.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.menuline {
    height: 3px;
    background-color: #39aae1;

}
@media (max-width:600px) {
    .banner_headline {
        padding:10px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h1 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;   
    }
    .container {
        flex-direction: column;

    }
    #geral section,
    #geral aside {
        padding: 20px;
    }
    .footer-options{
        flex-direction: column;
    }
    .foot-area {
        flex-direction: column;
        padding: 20px;
    }
    footer .widget-body1 {
        flex-direction: column;
    }
    .phone {
        margin-left:0;
    }
    .footer-copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFF;
    }
    header {
        height: auto;
    }
    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}